.page {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Verdana", sans-serif;
  overflow-y: scroll;
}
.iconsBlue {
  margin: 10px;
  font-size: 25px;
  color: dodgerblue;
}
.iconsBlack {
  margin: 10px;
  font-size: 25px;
  color: black;
}
.iconsGrey {
  margin: 10px;
  font-size: 25px;
  color: lightgrey;
}
.iconsRed {
  margin: 10px;
  font-size: 30px;
  color: red;
}
.iconsGreen {
  margin: 10px;
  font-size: 25px;
  color: lightseagreen;
}
.links {
  font-size: 22px;
  color: black;
  text-align: left;
  text-decoration: none;
}
.graph {
  height: 35vh;
  min-height: 250px;
}
