.page {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Verdana", sans-serif;
  overflow-y: scroll;
  text-align: center;
}
.iconsLoading {
  font-size: 100px;
  color: grey;
  margin: 50px;
}
.iconsBlue {
  margin: 10px;
  font-size: 25px;
  color: dodgerblue;
}
.iconsBlack {
  margin: 10px;
  font-size: 25px;
  color: black;
}
.iconsGrey {
  margin: 10px;
  font-size: 25px;
  color: lightgrey;
}
.iconsRed {
  margin: 10px;
  font-size: 30px;
  color: red;
}
.iconsGreen {
  margin: 10px;
  font-size: 25px;
  color: lightseagreen;
}
.links {
  font-size: 22px;
  color: black;
  text-align: left;
  text-decoration: none;
}
.graph {
  height: 300px;
}
.tide {
  height: 300px;
  margin-left: 50px;
  margin-bottom: 40px;
}
.disclaimer {
  color: rgb(153, 157, 161);
  margin: 20px;
  margin-top: 0px;
  font-size: 14px;
}
